:root {
    --body-backgound-color: #4a324133;
    --primary-button-background-color: rgba(51, 51, 208, 0.651);
    --primary-button-background-color-hover: rgba(51, 51, 208, 0.9);
    --primary-button-font-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100dvh;
    min-width: 100dvw;
}

body {
    background-color: var(--body-backgound-color);
}

.router-link {
    display: block;
    width: 100%;
    height: 100%;
    color: #222;
    text-decoration: none;
}

.router-link:hover {
    color: #eee;
}

.dl-menu-item:hover {
    cursor: pointer;
    background-color: #333;
}

.primary-button {
    padding-left: 1rem 2rem;
    min-width: 200px;
    height: 40px;
    border: none;
    color: var(--primary-button-font-color);
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--primary-button-background-color);
    margin: 0.5rem;
    border-radius: 0.4rem;
}

.primary-button:hover {
    cursor: pointer;
    background-color: var(--primary-button-background-color-hover);
}

.primary-small-button {
    padding-left: 1rem 2rem;
    min-width: 130px;
    height: 35px;
    border: none;
    color: var(--primary-button-font-color);
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem;
    border-radius: 0.4rem;
    background-color: var(--primary-button-background-color);
}

.primary-small-button:hover {
    cursor: pointer;
    background-color: var(--primary-button-background-color-hover);
}

table {
    border-collapse: collapse;
}

.default-input {
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid #aaa;
    margin: 0.5rem 0.1rem;
    width: 400px;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 1rem 0.5rem #aaa;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
}